.exterior{
    background-color: #FF963E;
    padding-top: 20px;
    padding-bottom: 20px;

}


.boton{
    color:white;
    background-color: #A45411;
    padding:10px;
    font-size:20px;
    border-radius: 10px;
    border:none;
    font-weight:bold;
}

*{
    font-family: 'Stint Ultra Expanded', cursive;
}