{% extends "base.html" %}

{% block titulo %} Editar lectura {% endblock %}

{% block contenido %}
{% load static %}
<header>
    <link type="text/css" rel="stylesheet" href="{% static 'css/editarLectura3.css' %}">
    <script src="https://kit.fontawesome.com/f877ada887.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stint+Ultra+Expanded&display=swap" rel="stylesheet">

</header>

<div class="exterior">


    <div class="container">
        <form method="post" action="/editarLecturaAccion/">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 col-12 d-flex flex-column justify-content-center align-items-center">
                    <img class="imagen" src="{{libro.foto.url}}">
                    <h2>{{libro.titulo}}</h2>
                    <h2>{{libro.autor}}</h2>
                </div>

                <div class="col-md-6 col-12 d-flex flex-column justify-content-center align-items-start">
                    <div class="row w-100">
                        <div class="col-6">
                            <p>Página actual</p>
                            <input type="text" required id="paginaActual" name="paginaActual" value="{{lectura.paginaActual}}" class="form-control">
                        </div>
                        <div class="col-6">
                            <p>Estado</p>
                            <select class="form-select" required value="{{lectura.estado}}" id="estado" name="estado">
                             
                                <option >Leyendo</option>
                                <option >Finalizado</option>
                             
                              </select>
                        </div>
                    </div>

                    <div class="row mt-3 ">
                        <div class="col-6">
                            <p>Fecha inicio</p>
                            <input type="text" required value="{{lectura.fechaInicio}}"  id="fechaInicio" name="fechaInicio" class="form-control">
                        </div>
                        <div class="col-6 ">
                            <p>Fecha fin</p>
                            <input type="text" required value="{{lectura.fechaFin}}" id="fechaFin" name="fechaFin" class="form-control">
                            <input type="hidden" value="{{lectura.id}}" id="id" name="id"/>
                        </div>
                    </div>
                   
                    
                    

                </div>
            </div>

            <div class="row mt-2">
                <div class="col d-flex justify-content-center align-items-center">
                    <button class="boton">Editar lectura</button>
                </div>
            </div>
        </form>




    </div>

</div>

{% endblock %}