{% extends "base.html" %}

{% block titulo %} Mis favoritos {% endblock %}

{% block contenido %}
{% load static %}
<header>
    <link type="text/css" rel="stylesheet" href="{% static 'css/misFavoritos4.css' %}">
    <script src="https://kit.fontawesome.com/f877ada887.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stint+Ultra+Expanded&display=swap" rel="stylesheet">

</header>

<div class="exterior">
    <div class="container">
        <div class="row">
            <div class="col">
                <a class="boton-normal" href="/miUsuario">Volver</a>
            </div>
        </div>
    </div>

    <div class="container mt-2">

        
        <div class="row">
            <div class="col">
                <h1 class="text-center">Mis favoritos</h1>
            </div>
        </div>

        <div class="row d-flex justify-content-center align-items-center mt-2">
            <div class="col-3">
                {% if messages %}
                {% for message in messages %}

                <div class="alert alert-success  d-flex flex-column justify-content-center align-items-center"
                    role="alert">
                    <p class="fw-bold text-center">{{message}}</p>

                </div>

                {% endfor %}
                {% endif %}
            </div>
        </div>


        {% if vacio %}
        <div class="row vacio">
            <div class="col">
                <h2 class="text-center">No tienes ningún libro favorito</h2>
            </div>
        </div>
        {% else %}
        <div class="row">
            {% for favorito in misFavoritos %}
            <div class="col-md-4 col-12 p-3">
                <div class="interior-libro d-flex justify-content-center align-items-center flex-column">
                    <img class="imagen" src="{{favorito.foto.url}}">
                    <h2 class="text-center">{{favorito.titulo}}</h2>
                    <h2 class="text-center">{{favorito.autor}}</h2>
                    <a class="btn btn-danger" href="/eliminarFavoritoVentana/{{favorito.id}}">Eliminar de favoritos</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

</div>

{% endblock %}